.Hud {
  position: absolute;
  width: 25vw;
  height: 60vh;
  /* left: 0%; */
  /* top: 0%; */
  z-index:1;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: default;
  /* width: calc(100vw - 2rem); */
  /* height: calc(100vh - 2rem); */
  border-right: 1rem solid;
  border-bottom: 1rem solid;
}
.Hud > img {
  padding-top: 15px;
  position: absolute;
  height: 70%;
  width: 100%;
  object-fit: contain;
  left: 0%;
}
.info {
  bottom: 0%;
  position: absolute;
}
.info > h1 {
  padding-left: 40px;
  margin-bottom: 0px;
  letter-spacing: 3px;
  font-family: 'Cutive Mono', monospace;
}
.info > p {
  padding-left: 40px;
  padding-bottom: 20px;
  bottom: 0%;
  font-family: 'Cutive Mono', monospace;
}
.Hud:hover {
  font-weight: bold;
}